{% load notification_tags %}

{% if messages %}
    <div id="notification-stack" hx-swap-oob="beforeend">
        {% for message in messages %}
            <div x-init="$nextTick(() => { setTimeout(() => { $el.remove() }, 3000) })"
                 {% if message.extra_tags|get_notification_pk %}
                     hx-patch="{% url 'core:read-notification' pk=message.extra_tags|get_notification_pk %}"
                 {% endif %}
                 hx-swap="none"
                 hx-trigger="load"
                 class="alert{% if message.tags %} {{ message.tags }}{% endif %}">
                <span>{{ message }}</span>
            </div>
        {% endfor %}
    </div>
{% endif %}