.astro-flex {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: var(--_flex-direction);
  justify-content: var(--_justify-content);
  align-items: var(--_align-items);
  align-content: var(--_align-content);
  gap: var(--_gap);

  &.inline {
    display: inline-flex;
  }

  &.wrap {
    flex-wrap: wrap;
  }

  &.wrap-rewerse {
    flex-wrap: wrap-reverse;
  }

  --_gap: var(--_fx-g-2xl, var(--_fx-g-xl, var(--_fx-g-lg, var(--_fx-g-md, var(--_fx-g-sm, var(--_fx-g-xs, var(--flex-gap)))))));
  --_flex-directionr: var(--_fx-dir-2xl, var(--_fx-dir-xl, var(--_fx-dir-lg, var(--_fx-dir-md, var(--_fx-dir-sm, var(--_fx-dir-xs, var(--flex-direction)))))));
  --_justify-content: var(--_fx-jc-2xl, var(--_fx-jc-xl, var(--_fx-jc-lg, var(--_fx-jc-md, var(--_fx-jc-sm, var(--_fx-jc-xs, var(--flex-justify-line)))))));
  --_align-items: var(--_fx-ai-2xl, var(--_fx-ai-xl, var(--_fx-ai-lg, var(--_fx-ai-md, var(--_fx-ai-sm, var(--_fx-ai-xs, var(--flex-align-line)))))));
  --_align-content:: var(--_fx-ac-2xl, var(--_fx-ac-xl, var(--_fx-ac-lg, var(--_fx-ac-md, var(--_fx-ac-sm, var(--_fx-ac-xs, var(--flex-align-lines)))))));

  @media (width >=30rem) {
    --_fx-dir-xs: var(--flex-direction-xs);
    --_fx-jc-xs: var(--justify-justify-line-xs);
    --_fx-ai-xs: var(--flex-align-line-xs);
    --_fx-ac-xs: var(--flex-align-lines-xs);
    --_fx-g-xs: var(--flex-gap-xs);
  }

  @media (width >=40rem) {
    --_fx-dir-sm: var(--flex-direction-sm);
    --_fx-jc-sm: var(--justify-justify-line-sm);
    --_fx-ai-sm: var(--flex-align-line-sm);
    --_fx-ac-sm: var(--flex-align-lines-sm);
    --_fx-g-sm: var(--flex-gap-sm);
  }

  @media (width >=48rem) {
    --_fx-dir-md: var(--flex-direction-md);
    --_fx-jc-md: var(--justify-justify-line-md);
    --_fx-ai-md: var(--flex-align-line-md);
    --_fx-ac-md: var(--flex-align-lines-md);
    --_fx-g-md: var(--flex-gap-md);
  }

  @media (width >=64rem) {
    --_fx-dir-lg: var(--flex-direction-lg);
    --_fx-jc-lg: var(--justify-justify-line-lg);
    --_fx-ai-lg: var(--flex-align-line-lg);
    --_fx-ac-lg: var(--flex-align-lines-lg);
    --_fx-g-lg: var(--flex-gap-lg);
  }

  @media (width >=80rem) {
    --_fx-dir-xl: var(--flex-direction-xl);
    --_fx-jc-xl: var(--justify-justify-line-xl);
    --_fx-ai-xl: var(--flex-align-line-xl);
    --_fx-ac-xl: var(--flex-align-lines-xl);
    --_fx-g-xl: var(--flex-gap-xl);
  }

  @media (width >=96rem) {
    --_fx-dir-2xl: var(--flex-direction-2xl);
    --_fx-jc-2xl: var(--justify-justify-line-2xl);
    --_fx-ai-2xl: var(--flex-align-line-2xl);
    --_fx-ac-2xl: var(--flex-align-lines-2xl);
    --_fx-g-2xl: var(--flex-gap-2xl);
  }

}

.astro-flex-item {
  order: var(--_order);
  flex: var(--_grow, initial) var(--_shrink, initial) var(--_basis, initial);
  align-self: var(--_align-self);

  --_order: var(--_fx-o-2xl, var(--_fx-o-xl, var(--_fx-o-lg, var(--_fx-o-md, var(--_fx-o-sm, var(--_fx-o-xs, var(--flex-item-order)))))));
  --_grow: var(--_fx-gw-2xl, var(--_fx-gw-xl, var(--_fx-gw-lg, var(--_fx-gw-md, var(--_fx-gw-sm, var(--_fx-gw-xs, var(--flex-item-grow)))))));
  --_shrink: var(--_fx-sh-2xl, var(--_fx-sh-xl, var(--_fx-sh-lg, var(--_fx-sh-md, var(--_fx-sh-sm, var(--_fx-sh-xs, var(--flex-item-shrink)))))));
  --_basis: var(--_fx-bs-2xl, var(--_fx-bs-xl, var(--_fx-bs-lg, var(--_fx-bs-md, var(--_fx-bs-sm, var(--_fx-bs-xs, var(--flex-item-basis)))))));
  --_align-self: var(--_fx-as-2xl, var(--_fx-as-xl, var(--_fx-as-lg, var(--_fx-as-md, var(--_fx-as-sm, var(--_fx-as-xs, var(--flex-item-placement)))))));

  @media (width >=30rem) {
    --_fx-o-xs: var(--flex-item-order-xs);
    --_fx-gw-xs: var(--flex-item-grow-xs);
    --_fx-sh-xs: var(--flex-item-shrink-xs);
    --_fx-bs-xs: var(--flex-item-basis-xs);
    --_fx-as-xs: var(--flex-item-placement-xs);
  }

  @media (width >=40rem) {
    --_fx-o-sm: var(--flex-item-order-sm);
    --_fx-gw-sm: var(--flex-item-grow-sm);
    --_fx-sh-sm: var(--flex-item-shrink-sm);
    --_fx-bs-sm: var(--flex-item-basis-sm);
    --_fx-as-sm: var(--flex-item-placement-sm);
  }

  @media (width >=48rem) {
    --_fx-o-md: var(--flex-item-order-md);
    --_fx-gw-md: var(--flex-item-grow-md);
    --_fx-sh-md: var(--flex-item-shrink-md);
    --_fx-bs-md: var(--flex-item-basis-md);
    --_fx-as-md: var(--flex-item-placement-md);
  }

  @media (width >=64rem) {
    --_fx-o-lg: var(--flex-item-order-lg);
    --_fx-gw-lg: var(--flex-item-grow-lg);
    --_fx-sh-lg: var(--flex-item-shrink-lg);
    --_fx-bs-lg: var(--flex-item-basis-lg);
    --_fx-as-lg: var(--flex-item-placement-lg);
  }

  @media (width >=80rem) {
    --_fx-o-xl: var(--flex-item-order-xl);
    --_fx-gw-xl: var(--flex-item-grow-xl);
    --_fx-sh-xl: var(--flex-item-shrink-xl);
    --_fx-bs-xl: var(--flex-item-basis-xl);
    --_fx-as-xl: var(--flex-item-placement-xl);
  }

  @media (width >=96rem) {
    --_fx-o-2xl: var(--flex-item-order-2xl);
    --_fx-gw-2xl: var(--flex-item-grow-2xl);
    --_fx-sh-2xl: var(--flex-item-shrink-2xl);
    --_fx-bs-2xl: var(--flex-item-basis-2xl);
    --_fx-as-2xl: var(--flex-item-placement-2xl);
  }

}