{% load heroicons %}
{% load humanize %}
<li 
    x-data="{ createdEpoch: {{ workspace.created_at_epoch }}, relativeTime: null }"
    x-init="wsCount++"
    class="list-row place-items-center"
    data-uuid="{{ workspace.uuid }}"
    x-effect="(window.Alpine.store('globalInterval').flag).toString() && (relativeTime = window.luxon.DateTime.fromSeconds(createdEpoch).toRelative())"
    @click="$event.target.tagName === 'BUTTON' && ($store.currentWorkspaceUUID = $el.dataset.uuid)"
>
    <div class="grid place-items-center grid-cols-[auto_auto] gap-1">
        <c-svgs.photos class="size-16"></c-svgs.photos>
        <div class="image-count text-3xl font-bold text-nowrap p-2"
            hx-get="{% url 'workspace:detail' ws_uuid=workspace.uuid %}"
            hx-trigger="upload:done"
            hx-vals='{"count": "images"}'
        >{{ workspace.image_count }}</div>
    </div>
    <div class="text-sm flex flex-col list-col-grow items-start w-full">
        <form
            hx-post="{% url 'workspace:update' ws_uuid=workspace.uuid %}" 
            hx-swap="none" class="contents" 
            hx-on:htmx:after-request="this.querySelector('input').blur()">
                <input name="name" value="{{ workspace.name }}"
                    class="text-xs uppercase font-semibold opacity-60 truncate"
                    hx-trigger="keyup[key=='Enter']" >
        </form>
        <p>Created: <span x-text="relativeTime">{{ workspace.created_at|naturaltime }}</span></p>
    </div>
    <button
        @click="$store.HTML.workspaceEditDialog.showModal()" 
        class="btn btn-square btn-ghost" 
        title="Edit"
    >{% heroicon_outline 'pencil-square' class="size-full" %}</button>
    <button
        @click="$store.HTML.uploadImagesDialog.showModal()" 
        class="btn btn-square btn-ghost" 
        title="Upload images"
    >{% heroicon_outline 'arrow-up-tray' class="size-full" %}</button>
    <button 
        @click="$store.HTML.runTaskDialog.showModal()" 
        class="btn btn-square btn-ghost" 
        title="Run task"
    >{% heroicon_outline 'wrench' class="size-full" %}</button>
    <button
        class="btn btn-square btn-ghost"
        hx-post="{% url 'workspace:delete' ws_uuid=workspace.uuid %}"
        hx-target="closest li"
        hx-swap="delete"
        @htmx:before-cleanup-element.self="wsCount--"
        title="Delete"
    >{% heroicon_outline 'trash' class="size-full" %}</button>
</li>