<section id="workspace-management-board" class="size-full overflow-y-scroll">
    <div class="mx-auto py-10 min-w-md max-w-xl">
        <h2 class="text-2xl mb-3">Workspace management board</h2>

        <div class="bg-base-100 rounded-box p-1">
            <nav class="flex justify-end p-2 bg-base-200 rounded-box">
                <button
                    hx-target="#workspace-management-board .list"
                    hx-trigger="click"
                    hx-post="{% url 'workspace:create' %}"
                    hx-swap="afterbegin"
                    class="btn btn-primary"
                >Create new</button>
            </nav>
            <ul 
                x-data="{ wsCount: 0 }"
                class="relative list min-h-[20rem] gap-2"
            >
                <template x-if="!wsCount" >
                    <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 flex flex-col gap-2">
                        <h2 class="text-lg">No workspaces created yet!</h2>
                    </div>
                </template>

                {% for workspace in workspaces %}
                    <c-components.workspace.card />
                {% endfor %}
            </ul>
        </div>
    </div>
</section>