{% load django_vite %}
{% load django_htmx %}
{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Django App{% endblock title %}</title>

    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css">
    {% tailwind_css %}
    {% htmx_script %}
    {% vite_hmr_client %}
    {% vite_asset 'src/js/main.js' %}
    
</head>
<body hx-headers='{"x-csrftoken": "{{ csrf_token }}"}'>
    {% block page %}{% endblock page %}
    
    {% block portals %}
        {% include "partials/components/dialogs/global_loader.html" %}
    {% endblock portals %}
    </div>
</body>
</html>