{% load heroicons %}

<c-layouts.base title="Profile">
    <c-slot name="page">
        <div x-data="{ currentMainTab: 'Home', isCurrentTab(el, tab) { return tab === el.dataset.tab; } }" 
            class="bg-base-100 text-base-content min-h-screen flex">

            <aside class="w-64 flex flex-col p-6 border-none">
                <div class="flex items-center justify-start gap-3 mb-6 ">
                    <div class="btn btn-circle btn-ghost">
                        {% heroicon_outline 'bars-3' class="size-6" %}
                    </div>
                    <img class="w-20 h-10" src="https://picsum.photos/100/200" alt="Logo" />
                    <h1 class="text-xl font-bold">DTH</h1>
                </div>
                <div class="flex items-center justify-start gap-3 mb-6 -mx-2 p-2 border-1 rounded-box">
                    <div class="avatar">
                        <div class="w-12 rounded-full">
                            <img src="https://picsum.photos/100" alt="User Avatar" />
                        </div>
                    </div>
                    <div>
                        <p class="font-semibold">Fillio Team</p>
                        <p class="text-sm text-gray-500">hello@fillio.com</p>
                    </div>

                    <label class="justify-self-end">
                        {% heroicon_outline 'chevron-up-down' class="size-6 btn btn-circle btn-ghost" %}
                    </label>
                </div>
                <h3 class="uppercase text-xs font-semibold text-gray-500 mb-2">Menu</h3>
                <menu class="menu w-full flex flex-col gap-1">
                    <c-helpers.page-menu-items :menu_items='[
                        {"name": "Home", "icon": "home"},
                        {"name": "Workspaces", "icon": "briefcase"},
                        {"name": "Tasks", "icon": "wrench-screwdriver"},
                        {"name": "Results", "icon": "archive-box"},
                        {"name": "Presets", "icon": "queue-list"},
                        {"name": "Settings", "icon": "cog-8-tooth"}
                    ]' />
                </menu>
            </aside>
            
            <main class="flex flex-col w-full">
                <header class="flex justify-end items-center gap-6 p-6">
                    <input type="text" 
                        placeholder="Search here..." 
                        class="input input-bordered max-w-x" />
                    <div class="flex items-center gap-2">
                        <button class="btn btn-circle btn-ghost">
                            {% heroicon_outline 'bell' class="size-6" %}
                        </button>
                        <c-daisy.popover horizontal="dropdown-end">
                            <c-slot name="trigger">
                                <label class="avatar online">
                                    <div class="w-10 rounded-full">
                                        <img src="https://picsum.photos/200" alt="User Avatar" />
                                    </div>
                                </label>
                            </c-slot>
                                <menu class="menu menu-compact gap-1 w-30 border-1 rounded-box bg-base-100">
                                    <li><a>Set Theme</a></li>
                                    <li><form method="POST" action="{% url 'credentials:logout' %}">  
                                        {% csrf_token %}
                                        <input type="submit" value="Logout">
                                    </form></li>
                                </menu>
                        </c-daisy.popover>
                    </div>
                </header>
                <div class="bg-base-300 rounded-tl-3xl p-6 grow flex">
                    <section data-tab="Home" x-show="isCurrentTab($el, currentMainTab)"
                        class="flex flex-col grow">
                        <h1 class="text-2xl font-bold mb-6">HOME</h1>
                        {% comment %} <c-tabs.home /> {% endcomment %}
                    </section>
                    <section x-cloak data-tab="Workspaces" x-show="isCurrentTab($el, currentMainTab)"
                        class="flex flex-col grow">
                        <h1 class="text-2xl font-bold mb-6">Workspaces</h1>
                        <c-workspace.list />
                    </section>
                    <section x-cloak data-tab="Tasks" x-show="isCurrentTab($el, currentMainTab)"
                        class="flex flex-col grow">
                        <h1 class="text-2xl font-bold mb-6">Tasks</h1>
                        <c-task.list />
                    </section>
                    <section x-cloak data-tab="Results" x-show="isCurrentTab($el, currentMainTab)"
                        class="flex flex-col grow">
                        <h1 class="text-2xl font-bold mb-6">Results</h1>
                        {% comment %} <c-components.results.list /> {% endcomment %}
                    </section>
                    <section x-cloak data-tab="Notifications" x-show="isCurrentTab($el, currentMainTab)"
                        class="flex flex-col grow">
                        <h1 class="text-2xl font-bold mb-6">Notifications</h1>
                        {% comment %} <c-components.notifications.list /> {% endcomment %}
                    </section>
                    <section x-cloak data-tab="Settings" x-show="isCurrentTab($el, currentMainTab)"
                        class="flex flex-col grow">
                        <h1 class="text-2xl font-bold mb-6">Account Settings</h1>
                        {% comment %} <c-tabs.settings /> {% endcomment %}
                    </section>
                </div>
            </main>
            <c-daisy.dialogs.button id="accountDeletionConfirmModal">
                <c-slot name="trigger">
                    {% heroicon_outline 'x-mark' class="size-full" %}
                </c-slot>
                <div>TO IMPLEMENT</div>
            </c-daisy.dialogs.button>
        </div>
    </c-slot>
</c-layouts.base>