---
interface Props extends Astro.ComponentProps {
    mimes: string[];
}

const { mimes, ...props } = Astro.props;
---

<script>
    interface FileDropzone {
        currentFile: File | null;

        validateFile(file: File): boolean;
        handleDrop(event: DragEvent): void;
        handleFileChange(event: Event): void;
    }

    //@ts-ignore
    window.FileDropzone = function () {
        return {
            currentFile: null,

            validateFile(file: File): boolean {
                const acceptAttr =
                    this.$refs.fileInput.getAttribute("accept") || "";
                const accept = acceptAttr
                    .split(",")
                    .map((type: string) => type.trim().toLowerCase());

                if (accept.includes(file.type)) return true;

                const fileExt = file.name.split(".").pop()?.toLowerCase();
                return accept.some((ext: string) =>
                    ext.startsWith(".")
                        ? ext.endsWith(fileExt || "")
                        : ext === fileExt,
                );
            },

            handleDrop(event: DragEvent): void {
                const file = event.dataTransfer?.files?.[0] || null;
                if (file && this.validateFile(file)) {
                    this.currentFile = file;
                }
            },

            handleFileChange(event: Event): void {
                const input = event.target as HTMLInputElement;
                const file = input.files?.[0] || null;
                if (file) {
                    this.currentFile = file;
                }
            },
        } as AlpineJSComponent.Generic<FileDropzone>;
    };
</script>

<label
    x-data="FileDropzone()"
    @drop.prevent="handleDrop($event)"
    @dragover.prevent
    {...props}
>
    <input
        type="file"
        hidden
        accept={mimes.join()}
        x-ref="fileInput"
        x-effect="currentFile && $dispatch('file-upload', { file: currentFile })"
        @change="handleFileChange($event)"
    />
    <slot />
</label>
