---
import { Icon } from 'astro-icon/components';
import { Alert as DaisyUIAlert } from '@codemint/astro-ui';

type AlertProps = Parameters<typeof DaisyUIAlert>[0] & Astro.HTMLComponentProps<"div">;

interface Props extends AlertProps {
    message: string;
}

const {
    message = "",
    type,
    ...props
} = Astro.props;

const svgIconName = {
    default: "",
    info: "heroicons:information-circle-20-solid",
    warning: "mid:warni",
    error: "ooui:error",
    success: "ooui:success",
}[type || "default"];
---

<DaisyUIAlert {...props}>
    <slot>
        {svgIconName && <Icon name={svgIconName} />}
        <span>{message}</span>
    </slot>
</DaisyUIAlert>