{% load heroicons %}

<div class="p-5 border border-neutral rounded-xl shadow-theme-sm">
    <div class="flex flex-col gap-5 xl:flex-row xl:items-center xl:justify-between">
        <div class="flex items-start w-full gap-4">
            <span class="text-gray-400">
                {% heroicon_outline 'bars-4' class="size-full" %}
            </span>
            <div>{{ task.uuid }}</div>
            <div>{{ task.name }}</div>
            <div>{{ task.workspace }}</div>
            <div sse-swap="task-{{ task.uuid }}-status" hx-on:htmx:sse-before-message="console.log(event)">{{ task.status }}</div>
            <div>{{ task.created_at }}</div>
        </div>
    </div>
</div>