{% load humanize %}
{% load heroicons %}
<li x-init="wsCount++" class="list-row place-items-center">
    <div class="size-14"><c-svgs.photos class="size-full"></c-svgs.photos></div>
    <div class="text-sm flex flex-col w-full list-col-grow">
        <h5 class="text-xs uppercase font-semibold opacity-60">{{ workspace.name }}</h5>
        <p>Created: <span data-epoch="{{ workspace.created_at_epoch }}">{{ workspace.created_at|naturalize }}</span></p>
    </div>
    <button
        @click="$store.HTML.workspaceEditDialog.showModal()" 
        class="btn btn-square btn-ghost" 
        title="Edit"
    >{% heroicon_outline 'pencil-square' class="size-full" %}</button>
    <button
        @click="$store.HTML.uploadImagesDialog.showModal()" 
        class="btn btn-square btn-ghost" 
        title="Upload images"
    >{% heroicon_outline 'arrow-up-tray' class="size-full" %}</button>
    <button 
        @click="$store.HTML.runTaskDialog.showModal()" 
        class="btn btn-square btn-ghost" 
        title="Run task"
    >{% heroicon_outline 'wrench' class="size-full" %}</button>
    </button
        class="btn btn-square btn-ghost"
        hx-post="{% url 'workspace:delete' with 'workspace.uuid' %}"
        hx-target="closest li"
        hx-swap="delete"
    >{% heroicon_outline 'trash' class="size-full"%}</button>
</li>