{% load heroicons %}
<li 
    x-data="{ created_at: {{ workspace.created_at_epoch }}, relativeTime: null }"
    x-init="wsCount++"
    class="list-row place-items-center"
    data-uuid="{{ workspace.uuid }}"
    x-effect="(window.Alpine.store('globalInterval').flag).toString() && (relativeTime = window.luxon.DateTime.fromSeconds(created_at).toRelative())"
    @click="$event.target.tagName === 'BUTTON' && ($store.currentWorkspaceUUID = $el.dataset.uuid)"
>
    <div class="size-14"><c-svgs.photos class="size-full"></c-svgs.photos></div>
    <div class="text-sm flex flex-col list-col-grow items-start w-full">
        <input class="text-xs uppercase font-semibold opacity-60" value="{{ workspace.name }}">
        <p>Created: <span x-text="relativeTime"></span></p>
    </div>
    <button
        @click="$store.HTML.workspaceEditDialog.showModal()" 
        class="btn btn-square btn-ghost" 
        title="Edit"
    >{% heroicon_outline 'pencil-square' class="size-full" %}</button>
    <button
        @click="$store.HTML.uploadImagesDialog.showModal()" 
        class="btn btn-square btn-ghost" 
        title="Upload images"
    >{% heroicon_outline 'arrow-up-tray' class="size-full" %}</button>
    <button 
        @click="$store.HTML.runTaskDialog.showModal()" 
        class="btn btn-square btn-ghost" 
        title="Run task"
    >{% heroicon_outline 'wrench' class="size-full" %}</button>
    <button
        class="btn btn-square btn-ghost"
        hx-post="{% url 'workspace:delete' ws_uuid=workspace.uuid %}"
        hx-target="closest li"
        hx-swap="delete"
        @htmx:before-cleanup-element.self="wsCount--"
        title="Delete"
    >{% heroicon_outline 'trash' class="size-full" %}</button>
</li>