<ul 
    x-data="{ wsCount: 0 }"
    class="relative list rounded-box shadow-md"
    :class="!wsCount && 'min-h-[10rem]'"
>
    <template x-if="!wsCount">
        <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 flex flex-col gap-2">
            <h2 class="text-lg">No workspces created yet!</h2>
            <button
                x-init="window.htmx.process($el)"
                hx-trigger="click"
                hx-post="{% url 'workspace:create' %}"
                hx-target="" 
                class="btn btn-primary"
            >Create new</button>
        </div>
    </template>
    
    {% for workspace in workspces %}
        <c-components.workspace :workspace="workspace"/>
    {% endfor %}

    <dialog id="upload-images-dialog"
        class="modal isolate flex sm:grid"
        @click.self="!$el.close() && (currentWorkspace = null);"
    >
        <div x-data="uppyWidget" 
            class="size-full"
            data-csrftoken="{{ csrf_token }}"
            data-endpoint="{% url 'workspace:upload' %}"
            :data-workspace-uuid="currentWorkspace?.pk"
        ></div>
    </dialog>
</ul>