<header class="z-50">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 my-auto">
        <div class="h-16 flex justify-between items-center">
            <div class="flex gap-4 items-center">
                <a class="block text-red-600" href="{% if not home %}{% url 'home' %}{% else %}#{% endif %}">
                    <span class="sr-only">Home</span>
                    <span class="text-3xl font-bold">LOGO</span>
                </a>

                <nav aria-label="Global" class="hidden md:block">
                    <ul class="flex items-center gap-6 text-sm text-white">
                        {% if not about %}
                            <li>
                                <a class="transition hover:text-blue-300" href="{% url 'about' %}">
                                    About
                                </a>
                            </li>
                        {% endif %}
                        {% if not contact %}
                            <li >
                                <a class="transition hover:text-blue-300" href="{% url 'contact' %}">
                                    Contact
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>

            {% include "partials/components/menus/settings.html" %}
        </div>
    </div>
</header>