---
import { DjangoURLs } from "@assets";
import { Icon } from "astro-icon/components";

export interface Props extends Astro.HTMLComponentProps<"div"> {
    workspace: DjangoAPI.Workspace;
}

const { 
    workspace,
    ...props
} = Astro.props;
---

<div class="grid place-items-center grid-cols-[auto_auto] gap-1" {...props}>
    <Icon name="ion:images-outline" />
    <div
        class="image-count text-3xl font-bold text-nowrap p-2"
        hx-get={`${DjangoURLs.api.pyodm.workspaces(workspace.uuid).images}?count`}
        hx-trigger="upload:done"
        hx-vals='{"count": "images"}'
    >{workspace.image_count}</div>
</div>