{% load heroicons %}

<form
    x-data="OptionsForm"
    x-plugins="anchor"
    class="space-y-10"
    hx-post="/"
    hx-swap="none"
    hx-ext="form-json"
    hx-trigger="submit"
>
    <h2 class="text-2xl font-bold mb-4">Processing Options</h2>
    {% for group_name, fields in options.items %}
        <fieldset class="border border-gray-300 rounded p-4 bg-gray-50">
            <legend class="text-lg font-semibold text-gray-700 mb-4">{{ group_name|default:"None" }}</legend>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                {% for field in fields %}
                    <div>
                        <div 
                            x-data="{ showTooltip: false }"
                            class="flex justify-start items-center gap-2"
                        >
                            <label 
                                for="{{ field.name }}" 
                                class="font-medium text-gray-700"
                            >{{ field.name }}</label>
                            <div
                                x-ref="trigger"
                                @mouseover.debounce.100ms="showTooltip = true"
                                @mouseout.debounce.100ms="showTooltip = false"
                                class="size-4"
                            >
                                {% heroicon_outline 'x-mark' class="size-full" %}
                            </div>
                            <div
                                x-cloak
                                x-show="showTooltip"
                                x-anchor.top.offset.10="$refs.trigger"
                                class="bg-white max-w-xs text-sm p-2 border rounded shadow text-center"
                            >
                              {{ field.help }}
                            </div>                              
                        </div>
                        {% if field.type == 'enum' %}
                            <select 
                                id="{{ field.name }}" 
                                name="{{ field.name }}"
                                class="w-full border rounded px-3 py-2"
                                x-model="formData['{{ field.name }}']"
                            >
                                {% for option in field.domain %}
                                    <option value="{{ option }}">{{ option }}</option>
                                {% endfor %}
                            </select>
                        {% elif field.type == 'int' or field.type == 'float' %}
                            <input 
                                class="w-full border rounded px-3 py-2 {% if field.type != 'int' %}no-spinner{% endif %}"
                                type="number" 
                                min="0"
                                id="{{ field.name }}" 
                                name="{{ field.name }}"
                                {% if field.type == 'int' %}step="1"{% endif %}
                                @keydown="inputKeydownHandler($event, '{{ field.type }}')"
                                x-model="formData['{{ field.name }}']"
                            />
                        {% elif field.type == 'bool' %}
                            <div class="flex items-center space-x-2">
                                <input
                                    type="checkbox"
                                    id="{{ field.name }}"
                                    name="{{ field.name }}"
                                    class="form-checkbox h-5 w-5 text-blue-600"
                                    x-model="formData['{{ field.name }}']"
                                />
                                <label for="{{ field.name }}" class="text-sm text-gray-600">(Check to enable)</label>
                            </div>
                        {% elif field.type == 'string' and field.domain == 'string' %}
                            <input 
                                id="{{ field.name }}" 
                                name="{{ field.name }}"
                                type="text"
                                placeholder="Enter text"
                                class="w-full border rounded px-3 py-2"
                                x-model="formData['{{ field.name }}']"
                            >
                        {% elif field.type == 'string' and field.domain == 'json' %}
                            <div
                                x-data="{ inputMethod: '', fileUploaded: false, isJSONValid: true }"
                                class="flex flex-col items-center space-y-2"
                                id="{{ field.name }}" 
                            >
                                <select 
                                    x-model="inputMethod" 
                                    class="w-full border rounded px-3 py-2 mb-2"
                                >   
                                    <option value="" selected>Choose option</option>
                                    <option value="manual">Manual Input</option>
                                    <option value="file">Upload JSON File</option>
                                </select>
                                <textarea 
                                    x-cloak
                                    x-show="inputMethod === 'manual'"
                                    x-ref="textarea"
                                    :disabled="fileUploaded"
                                    class="w-full border rounded px-3 py-2"
                                    rows="3"
                                    placeholder="Enter JSON"
                                    @input.debounce.300ms="handleJSON($event, $data, '{{ field.name }}')"
                                    @keydown="handleFocus($event)"
                                ></textarea>
                                <div
                                    x-cloak
                                    x-show="!isJSONValid"
                                    x-text="'Not Valid JSON!!!'"
                                ></div>
                                <input 
                                    x-cloak
                                    x-show="inputMethod === 'file'"
                                    x-ref="fileInput"
                                    type="file" 
                                    accept=".json" 
                                    class="mt-2"
                                    @change="handleFileUpload($event, $data, '{{ field.name }}'); $refs.textarea.value = '';"
                                />
                                <button 
                                    x-show="fileUploaded"
                                    @click="$refs.fileInput.value = ''; fileUploaded = false; formData['{{ field.name }}'] = ''"
                                    type="button"
                                    class="bg-red-500 text-white px-3 py-1 rounded w-fit"
                                >
                                    Remove File
                                </button>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </fieldset>
    {% endfor %}
    <input type="submit" class="btn" value="Submit">
</form>