{% load widget_tweaks %}
{% load heroicons %}

<form
    class="contents"
    hx-post="{% url 'workspace:create' %}"
    hx-target="outerHTML"
    enctype="multipart/form-data" 
>
    {{ form.name.label }}
    {{ form.name|add_class:"hidden" }}
    <label 
        class="max-w-md flex flex-col items-center rounded border border-base-300 p-4 text-base-content shadow-sm sm:p-6"
        :class="{ 'bg-base-200': dragOver }"
        @dragover.prevent="dragOver=true" 
        @dragleave.prevent="dragOver=false" 
        @drop.prevent="handleDrop"
    >
        <input  class="hidden" type="file" accept="image/*" multiple @change="handleFileChange" />
        <div class="size-30">{% heroicon_outline 'arrow-up-tray' class="size-full" %}</div>
        <p class="max-w-xs">
            Click to <span class="text-accent font-medium">Upload your file(s)</span> or drag and drop here
        </p>
    </label>
</form>