{% load widget_tweaks %}

<form 
    id="login-form"
    hx-post="{% url 'user:login' %}"
    hx-target="#login-form"
    hx-swap="outerHTML"
    data-show-loader="modal"
>
    {% csrf_token %}
    {% if form.non_field_errors %}
        <template class="non-field-errors">
            {% for error in form.non_field_errors %}
                <li class="whitespace-pre-wrap">{{ error }}</li>
            {% endfor %}
        </template>
    {% endif %}
    {% for field in form %}
        <div class="mb-4">
            <label 
                for="{{ field.id_for_label }}"
                class="font-semibold text-sm text-gray-600 pb-1 block" 
            >
                {{ field.label }}
            </label>
           
            {{ field|add_class:"border rounded-lg px-3 py-2 mt-1 mb-5 text-sm w-full" }}
            {{ field.help_text  }}
            {% if field.errors %}
                <ul>
                    {% for error in field.errors %}
                        <li class="break-words">{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    {% endfor %}
    <button 
        type="submit" 
        class="transition duration-200 bg-blue-500 hover:bg-blue-600 focus:bg-blue-700 focus:shadow-sm focus:ring-4 focus:ring-blue-500 focus:ring-opacity-50 text-white w-full py-2.5 rounded-full text-sm shadow-sm hover:shadow-md font-semibold text-center inline-block"
    >
        Login
    </button>
</form>