---
import { Icon } from 'astro-icon/components';
import { mergeClass } from '@utils';

export interface Props extends Astro.ComponentProps {
    message: string;
    alertStyle?: "outline" | "soft" | "dash";
    type?: "info" | "warning" | "error" | "success" | "default";
    direction?: "horizontal" | "vertical";
}

const {
    message = "",
    type: alertType = "default",
    direction = "horizontal",
    alertStyle,
    class: className,
    ...props
} = Astro.props;

const svgIconName = {
    default: "",
    info: "heroicons:information-circle-20-solid",
    warning: "mid:warning",
    error: "ooui:error",
    success: "ooui:success",
}[alertType];

const alertClass = mergeClass(
    className,
    "alert",
    {
        "alert-info": alertType === "info",
        "alert-warning": alertType === "warning",
        "alert-error": alertType === "error",
        "alert-success": alertType === "success",
        "alert-default": alertType === "default",
        "alert-outline": alertStyle === "outline",
        "alert-soft": alertStyle === "soft",
        "alert-dash": alertStyle === "dash",
        "alert-horizontal": direction === "horizontal",
        "alert-vertical": direction === "vertical"
    }
);
---

<div class={alertClass} {...props}>
    <slot>
        {svgIconName && <Icon name={svgIconName} />}
        <span>{message}</span>
    </slot>
</div>