{% load widget_tweaks %}

<form 
    id="user-update-form"
    hx-post="{% url 'user:update' %}" 
    hx-target="#user-update-form" 
    hx-swap="outerHTML"
>
    {% csrf_token %}
    {{ form.non_field_errors }}

  <div>
    <label for="{{ form.first_name.id_for_label }}" class="block text-sm font-medium text-gray-700">First Name</label>
    {{ form.first_name|add_class:"mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 sm:text-sm" }}
  </div>

  <div>
    <label for="{{ form.last_name.id_for_label }}" class="block text-sm font-medium text-gray-700">Last Name</label>
    {{ form.last_name|add_class:"mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 sm:text-sm" }}
  </div>

  <div>
    <label for="{{ form.email.id_for_label }}" class="block text-sm font-medium text-gray-700">Email</label>
    {{ form.email|add_class:"mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 sm:text-sm" }}
  </div>

  <button type="submit" name="form" class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
    Save User Information
  </button>
</div>