---
import { Notifications } from "@components";
import globalStyleURL from "@styles/global.css?url";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href=/favicon.svg' />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link rel="stylesheet" href={globalStyleURL}>
		<script>
			import Utils from "@lib/utils";
			import { DateTime } from "luxon";
			import htmx from "htmx.org"; 
			import "htmx-ext-sse"; 
			
			(() => {
				window.addEventListener("DOMContentLoaded", async () => {
					// @ts-ignore
					window.luxon = { DateTime };
					window.htmx = htmx;
					window.utils = Utils;
					
					const htmxExtension = "https://unpkg.com/htmx-ext-form-json";
					await import(/* @vite-ignore */ htmxExtension);
				});

				const setThemeBasedOnPreference = (preference: boolean) => {
					document.documentElement.setAttribute('data-theme', preference ? 'night' : 'bumblebee');
				}
				
				const themeMediaQuery = window.matchMedia('(prefers-color-scheme: dark)');
				themeMediaQuery.addEventListener('change', e => setThemeBasedOnPreference(e.matches));
				setThemeBasedOnPreference(themeMediaQuery.matches);
				
			})();
		</script>
	</head>
	<body hx-headers={`{"X-CSRFToken": ${Astro.request.headers.get("X-CRSFToken")}`} hx-ext="form-json">
		<slot />
		<Notifications.Toast />
		<input id="CSRFTokenInput" type="hidden" value={Astro.request.headers.get("X-CRSFToken")}>
	</body>
</html>
