{% load django_vite %}
<section id="hero-section" class="hero min-h-screen bg-fixed"
    style="background-image: url('{% vite_asset_url 'src/assets/hero.jpg' %}');"
    data-image-attribution="https://unsplash.com/photos/turned-on-drone-rSFxBGpnluw?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">
    <div class="hero-overlay"></div>
    <div class="hero-content text-neutral-content text-center">
        <div class="glass p-10 rounded-3xl backdrop-blur-[4px]">
            <h1 class="mb-5 text-5xl font-bold">DIGITAL TERRAIN HUB</h1>
            <p class="mb-5 text-lg italic ">Making fotogrametry simpler.</p>
            <a role="button" class="btn btn-primary" href="{% url 'user:register' %}">
                Register
            </a>
        </div>
    </div>
</section>