<c-base title="Home">
    <c-slot name="page">
        <div class="grid grid-flow-rows h-screen w-screen grid-cols-3 gap-4 bg-base-100">
            <a class="btn btn-ghost size-full border-4 border-neutral-300" href="{% url 'account:home' %}">Profile</a>
            <a class="btn btn-ghost size-full border-4 border-neutral-300" href="{% url 'credentials:login' %}">Login</a>
            <a class="btn btn-ghost size-full border-4 border-neutral-300" href="{% url 'credentials:register' %}">Register</a>
            {% if user.is_authenticated %}
                <form method="POST" action="{% url 'credentials:logout' %}">  
                    {% csrf_token %}
                    <input type="submit" class="btn btn-ghost size-full border-4 border-neutral-300" value="Logout">
                </form>
            {% endif %}
        </div>
    </c-slot>
</c-base>