---
import { Notifications } from "@components";
import { DjangoURLs, SVGURLs, StylesURLs } from "@assets";

export interface Props extends Astro.HTMLComponentProps<"body"> {
	title: string;
}

const { title, ...props } = Astro.props;
const csrfToken = Astro.request.headers.get("x-csrftoken") || "";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href={SVGURLs.Favicon} />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link rel="stylesheet" href={StylesURLs.Global}>
		<script>
			import Utils from "@lib/utils";
			
			(async () => {
				window.utils = Utils;
			})();
		</script>
	</head>
	<body {...props}>
		<slot />
		<Notifications.ToastContainer 
			notificationChannelURL={DjangoURLs.sseEventChannel("notifications").self()} />
	</body>
</html>
