---
export interface Props extends Astro.HTMLComponentProps<"form"> {
    loginURL: URLString;
    fields: any[];
}

const {
    loginURL,
    fields,
    ...props
} = Astro.props;
---

<form
    hx-post={loginURL}
    hx-swap="outerHTML"
    class="space-y-6"
    {...props}
>
    <input type="submit" class="btn btn-primary w-full" value="Login" />
</form>
