{% load heroicons %}

<c-daisy.dialogs.button
    id="workspace-edit-dialog"
    class="w-full h-full max-w-[calc(100%-10rem)] max-h-[calc(100%-10rem)] p-0 flex flex-col"
    hx-on:htmx:before-request="window.Alpine.closestDataStack(window.htmx.find(this, `[x-data='GCPMap']`))?.[0]?.loadGCPs(window.Alpine.store('currentWorkspaceUUID') || '')"
>
    <c-slot name="trigger"><div class="size-10 z-100">{% heroicon_outline 'x-mark' class="size-full" %}</div></c-slot>
    <div class="bg-secondary">
        <h2 class="text-secondary-content text-3xl p-2">Editing</h2>
    </div>
    <div class="flex flex-row h-full w-full overflow-hidden">
        <!-- Image Container -->
        <div class="flex-1 min-w-0 bg-base-100 overflow-y-auto scrollbar-thin scrollbar-thumb-gray-400 scrollbar-track-gray-100" style="max-width: 50%;">
            <div x-init x-cloak
                x-effect="$store.currentWorkspaceUUID && $nextTick(() => window.htmx.process($el))"
                :hx-get="`/pyodm/workspace/${$store.currentWorkspaceUUID}/?images`"
                hx-swap="innerHTML"
                hx-trigger="intersect"
                class="grid grid-flow-row grid-cols-3 place-items-center gap-4 p-4"
            ></div>
        </div>
        <div class="w-2 bg-gray-200 hover:bg-gray-300 relative">
            <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-1 h-10 bg-gray-600 rounded"></div>
        </div>
        <div class="grow" x-data="GCPMap">
            <div x-show="bindedGCPs?.binding" class="gcp-leaflet-map isolate size-full"></div>
            <div x-show="!bindedGCPs?.binding" class="size-full flex" @file-upload.prevent="readFile($event.detail.file)">
                <c-components.file-dropzone 
                    id="gcp-dropzone"
                    mimes=".txt,.csv"
                    label="Upload your file (TXT, CSV)"
                ><c-slot name="svg"><c-svgs.upload /></c-slot>
                </c-components.file-dropzone>
            </div>
        </div>
    </div>
</c-daisy.dialogs.button>