<c-daisy.popover
    class="w-100 h-100 flex justify-center items-center"
>
    <form 
        hx-post="/pyodm/workspace/{{ workspace.uuid }}}/create-task"
        hx-trigger="submit"
        hx-swap="none"
        hx-ext="form-json"
        class="flex flex-col"
    >
        <h4 class="text-2xl">Task Options</h4>
            <input type="text" name="name" value="">
            <div class="join">
                <select name="options-preset" class="select join-tem">
                    <option disabled selected>Pick options preset</option>
                    <optgroup label="Global Presets">
                        {% for name in presets_names.global %}
                            <option value="{{ name }}">{{ name|title }}</option>
                        {% endfor %}
                    </optgroup>
                    <optgroup label="User Presets">
                        {% for name in presets_names.user %}
                            <option value="{{ name }}">{{ name|title }}</option>
                        {% empty %}
                            <option disabled>No user presets available</option>
                        {% endfor %}
                    </optgroup>
                    <option value="custom">Custom</option>
                </select>
                <button class="join-item btn btn-secondary">Edit</button>
            </div>
            <input type="submit" value="Create task" class="btn btn-primary">
    </form>
</c-daisy.popover>