<c-daisy.popover
    x-init="locked=false"
    @click.away="!locked && ($el.open = false)"
>
    <c-slot name="trigger">{{ slot }}</c-slot>
    <form 
        hx-post="{% url 'workspace:create-task' ws_uuid=workspace.uuid %}"
        hx-trigger="submit"
        hx-swap="none"
        hx-ext="form-json"
        class="bg-neutral p-3 min-w-xs rounded-box flex flex-col"
    >
        <div class="join">
            <label class="label join-item label-text">Name</label>
            <input type="text" name="name" class="input input-bordered join-item" placeholder="Enter name..."/>
        </div>
        <div class="join">
            <label class="label join-item">Options</label>
            <div class="join join-item">
                <select name="options-preset" class="select join-item">
                    <option disabled selected>Pick options preset</option>
                    <optgroup label="Global Presets">
                        {% for name in presets_names.global %}
                            <option value="{{ name }}">{{ name|title }}</option>
                        {% endfor %}
                    </optgroup>
                    <optgroup label="User Presets">
                        {% for name in presets_names.user %}
                            <option value="{{ name }}">{{ name|title }}</option>
                        {% empty %}
                            <option disabled>No user presets available</option>
                        {% endfor %}
                    </optgroup>
                    <option value="custom">Custom</option>
                </select>
                <button type="button" 
                    class="join-item btn btn-secondary"
                    @click="window.htmx.find('#options-dialog').showModal(); locked=true"
                >Edit</button>
            </div>
        </div>
        <div class="flex justify-end">
            <input type="submit" value="Create task" class="btn btn-primary">
        </div>
    </form>
</c-daisy.popover>