<c-vars id />

<div class="drawer lg:drawer-open"
    @not-md.window="sidebarOpen = false">
    <input 
        {% if toggler-id %}id="{{ toggler-id }}"{% endif %} 
        type="checkbox" 
        class="drawer-toggle"
        x-model="sidebarOpen" />
    <div class="drawer-content flex flex-col items-center justify-center">
      {{ main }}
    </div>
    <div class="drawer-side">
      <label 
        {% if toggler-id %}for="{{ toggler-id }}"{% endif %}
        aria-label="close sidebar" 
        class="drawer-overlay max-xs:hidden"
        :class="{ 'hidden': !sidebarOpen }"></label>
      {{ sidebar }}
    </div>
  </div>