<c-daisy.popover
    x-data="{ 
        locked: false,
        selectedPreset: '', 
        handleDialogClose() {
            const dialog = window.htmx.find('#options-dialog');
            $data.locked = true;
            const dialogCloseHandler = () => {
                $data.locked = false;
                dialog.removeEventListener('close', dialogCloseHandler);
            };
            dialog.showModal();
            dialog.addEventListener('close', dialogCloseHandler);
        },
    }"
    x-bind:class="{ 'dropdown-open': locked }"
    @submit="$store.optionsData=null"
>
    <c-slot name="trigger">{{ slot }}</c-slot>
    <form 
        hx-post="{% url 'workspace:create-task' ws_uuid=workspace.uuid %}"
        hx-trigger="submit"
        hx-target="body div[sse-connect='{% url 'events' channel='pyodm' %}']"
        hx-swap="afterbegin"
        hx-ext="form-json"
        class="bg-base-100 border-neutral border-2 p-3 min-w-xs rounded-box flex flex-col"
    >
        <div class="join">
            <label class="label join-item label-text">Name</label>
            <input type="text" name="name" class="input input-bordered join-item" placeholder="Enter name..." required>
        </div>
        <div class="join">
            <label class="label join-item">Options</label>
            <div class="join join-item">
                <select required name="options-preset" class="select join-item">
                    <option selected value="Default">Default</option>
                    <optgroup label="Global Presets">
                        {% for name in presets_names.global %}
                            <option value="{{ name }}">{{ name|title }}</option>
                        {% endfor %}
                    </optgroup>
                    <optgroup label="User Presets">
                        {% for name in presets_names.user %}
                            <option value="{{ name }}">{{ name|title }}</option>
                        {% empty %}
                            <option disabled>No user presets available</option>
                        {% endfor %}
                    </optgroup>
                    <option value="custom">Custom</option>
                </select>
                <button type="button" 
                    class="join-item btn btn-secondary"
                    @click="handleDialogClose()"
                >Edit</button>
            </div>
        </div>
        <input type="hidden" name="options" x-ref="optionsInput" x-model="$store.optionsData">
        <div class="flex justify-end">
            <input type="submit" value="Create task" class="btn btn-primary">
        </div>
    </form>
</c-daisy.popover>