{% load django_vite %}
{% load django_htmx %}
{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ metadata }}
    <title>{{ title|title }}</title>

    {% tailwind_css %}
    {% htmx_script %}
    <script src="https://unpkg.com/htmx-ext-form-json" defer></script>
    <script src="https://unpkg.com/htmx-ext-sse@2.2.3" defer></script>
    {% vite_hmr_client %}
    {% vite_asset 'src/ts/main.ts' %}
    
    {{ extra_head }}

</head>
<body hx-headers='{"x-csrftoken": "{{ csrf_token }}"}' hx-ext="inner">
    {{ page }}

    <div id="notification-stack" class="stack toast"></div>
</body>
</html>