{% load django_vite %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Django App{% endblock %}</title>
    {% vite_hmr_client %}
    {% vite_asset 'static/js/main.js' %}
    {% block extra_head %}{% endblock %}
</head>
<body class="bg-red-500 p-12 text-4xl text-white">

    <!-- Header -->
    {% include 'includes/header.html' %}

    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <!-- Footer -->
    {% include 'includes/footer.html' %}

</body>
</html>

</body>
</html>