---
// Apparently it breaks without aliasing
import { Notifications as N } from "@components";

export interface Props extends Astro.HTMLComponentProps<"section"> {
    notifications?: DjangoAPI.Notification[];
}

const { 
    notifications = [],
    ...props
} = Astro.props;
---

<section {...props}>
    <N.List notifications={notifications}></N.List>
</section>