---
import { DjangoURLs } from "@assets";
import * as Flow from "@astropub/flow";

export interface Props extends Astro.HTMLComponentProps<"section"> {
}

const { ...props } = Astro.props;
---

<section {...props} x-data="{ currentSettingsTab: 'Profile' }"
    class="flex grow gap-6 bg-base-100 p-6 rounded-lg shadow-lg">
    <aside class="w-36">
        <menu class="size-full menu menu-compact flex flex-col gap-1 border-r-1">
            <Flow.For of={["Profile", "Security", "Notifications", "Payment"]}>{tab => 
                <li>
                    <a data-tab={tab}
                        x-on:click="currentSettingsTab = $el.dataset.tab"
                        x-bind:class="isCurrentTab($el, currentSettingsTab) && 'menu-active font-semibold'"
                    >{tab}</a>
                </li>
            }</Flow.For>
            <li>
                <a @click="currentSettingsTab = ''; window.htmx.find('#accountDeletionConfirmModal').showModal();"
                    :class="isCurrentTab($el, currentSettingsTab) && 'menu-active font-semibold'"
                    class="text-warning">Delete Account</a>
            </li>
        </menu>
    </aside>
    <div class="flex-1" data-tab="Profile" x-show="isCurrentTab($el, currentSettingsTab)">
        <h2 class="text-3xl font-semibold mb-4">Profile</h2>
        <div>NOT IMPLEMENTED</div>
    </div>
    <div class="flex-1" data-tab="Security" x-show="isCurrentTab($el, currentSettingsTab)">
        <h2 class="text-3xl font-semibold mb-4">Security</h2>
        <div>NOT IMPLEMENTED</div>
    </div>
</section>