---
import { Task } from "@components";

export interface Props extends Astro.HTMLComponentProps<"section"> {
    tasks: DjangoAPI.Task[];
}

const { 
    tasks = [],
    ...props
} = Astro.props;
---

<section {...props}>
    <Task.List tasks={tasks}></Task.List>
</section>