---
import * as Flow from "@astropub/flow";
import { Workspace } from "@components";

export interface Props extends Astro.HTMLComponentProps<"section"> {
    workspaces?: DjangoAPI.Workspace[];
}

const { 
    workspaces = [],
    ...props
} = Astro.props;
---

<section {...props}>
    <Workspace.List workspaces={workspaces}></Workspace.List>
</section>