---
import * as Flow from "@astropub/flow";
import { Workspace } from "@components";
import { clsx as cn } from "clsx";

export interface Props extends Astro.HTMLComponentProps<"section"> {
    workspaces?: DjangoAPI.Workspace[];
}

const { 
    workspaces = [],
    class: className,
    ...props
} = Astro.props;

Object.assign(props, {
    class: cn(
        className,
    ),
});
---

<section {...props}>
    <Workspace.List workspaces={workspaces}></Workspace.List>
</section>