{% extends 'bases/base.html' %}
{% load static %}

{% block extra_head %}
    <link href="{% static 'css/shake.css' %}" rel="stylesheet">
{% endblock extra_head %}

{% block body %}
<main class="w-full h-full bg-gray-100 overflow-x-hidden">
    {% block content %}{% endblock content %}
</main>
{% endblock body %}

{% block loader %}
    <div id="loader" class="fixed inset-0 bg-black bg-opacity-20 z-[9999] hidden">
        <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-12 h-12 border-4 border-t-4 border-gray-200 border-t-blue-500 rounded-full animate-spin"></div>
    </div>
{% endblock loader %}