{% extends 'bases/base.html' %}
{% load static %}

{% block extra_head %}
    <link href="{% static 'css/shake.css' %}" rel="stylesheet">
{% endblock extra_head %}

{% block page %}
    {% block content %}{% endblock content %}
{% endblock page %}

{% block loader %}
    <div id="loader" class="fixed inset-0 bg-black bg-opacity-30 z-[9999] hidden flex justify-center items-center">
        <div class="w-20 h-20 border-8 border-t-0 border-white border-t-blue-600 rounded-full animate-spin"></div>
    </div>
{% endblock loader %}