@import "tailwindcss";
@import "tailwindcss-animated";
@import "./animations.css";
@import "./utils.css";

@source "../../**/*.{astro,ts,css}";
@source "../../../../backend/Core/templates/**/*.html";
@source "../../../node_modules/@codemint/astro-ui/**/*.{astro,ts,css}";

@plugin "daisyui" {
  exclude: rootscrollgutter;
  themes: bumblebee --default, night --prefersDark;
}

@theme {
  --breakpoint-xs: 30rem;
}

