@import "tailwindcss";
@import "tailwindcss-animated";
@import "./tailwind.animations.css";
@import "./tailwind.typography.css";
@import "./tailwind.breakpoints.css";
@import "./tailwind.utilities.css" layer(utilities);

@source "../../**/*.{astro,ts,css}";
@source "../../../../backend/Core/templates/**/*.html";
@source "../../../node_modules/@codemint/astro-ui/**/*.{astro,ts,css}";

@plugin "daisyui" {
  exclude: rootscrollgutter;
  themes: bumblebee --default, night --prefersDark;
}

@layer base {
  [x-cloak] { display: none !important; }
  
  button svg,
  a svg {
    pointer-events: none;
  }
}